<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://play-lh.googleusercontent.com/3bXqnPjZnVf9FmFsTNSvp2VquiXIKg2LQV7TADGeBSRJ6oHC_PLsWfBvCPtcDNq7ujZg" width="50" height="50" class="d-inline-block align-center" alt="">
    Yelp Reviews!
  </a>
  <%= link_to "New Restaurant", new_restaurant_path%>
</nav>
